body {
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #ffffff;
    max-width: 960px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 2em;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}

.contact-info p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.contact-info a {
    text-decoration: none;
    color: #00ff00;
    margin: 5px 0;
    font-size: 1.1rem;
}

.contact-info a:hover {
    color: #ffcc00;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem;
}

article {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

section h2 {
    color: #00ff00;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-category {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.skills-category i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.skills-category h3 {
    color: #ffcc00;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    color: #ffffff;
    margin: 5px 0;
}
